<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img src="../../assets/drm/flood.png" width="50px" height="50px">
                        </div>
                        <p class="card-category"></p>
                        <h3 class="card-title">
                            <small></small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger"></i>
                            <h4>Floods</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img src="../../assets/drm/covid-19.png" width="50px" height="50px">
                        </div>
                        <p class="card-category"></p>
                        <h3 class="card-title">
                            <small></small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger"></i>
                            <h4>COVID-19</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <img src="../../assets/drm/earthquake.png" width="50px" height="50px">
                        </div>
                        <p class="card-category"></p>
                        <h3 class="card-title">
                            <small></small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger"></i>
                            <h4>EarthQuake</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <img src="../../assets/drm/landslide.png" width="50px" height="50px">
                        </div>
                        <p class="card-category"></p>
                        <h3 class="card-title"></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons"></i>
                            <h4>Landslide</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <img src="../../assets/drm/disaster.png" width="50px" height="50px">
                        </div>
                        <p class="card-category"></p>
                        <h3 class="card-title"></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons"></i>
                            <h4>Tornado</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-2">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <img src="../../assets/drm/wildfire.png" width="50px" height="50px">
                        </div>
                        <p class="card-category"></p>
                        <h3 class="card-title"></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons"></i>
                            <h4>WildFire</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
          <div class="col-md-7">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Sales</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i>
                      </div>
                  </div>
              </div>
          </div>-->
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Statistics</h4>
                        <p class="card-category">Survey of the surroundings</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <!--MAP CODE HERE-->
                    <div class="card-body am-123">
                        <app-maps></app-maps>
                    </div>
                    <!-- <div class="card-footer">
                        <div class="stats">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-body">
                    <h4 class="card-title">StakeHolders</h4>
                    <div class="row">
                        <div class="col-sm-2 col-md-2">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <img src="../../assets/drm/people.png" width="50px" height="50px">
                                    </div>
                                    <p class="card-category"></p>
                                    <h3 class="card-title">
                                        <small></small>
                                    </h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger"></i>
                                        <h4>Victims</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <img src="../../assets/drm/doctor.png" width="50px" height="50px">
                                    </div>
                                    <p class="card-category"></p>
                                    <h3 class="card-title">
                                        <small></small>
                                    </h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger"></i>
                                        <h4>Doctors</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <img src="../../assets/drm/nurse.png" width="50px" height="50px">
                                    </div>
                                    <p class="card-category"></p>
                                    <h3 class="card-title">
                                        <small></small>
                                    </h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger"></i>
                                        <h4>Nurse</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <img src="../../assets/drm/blood.png" width="50px" height="50px">
                                    </div>
                                    <p class="card-category"></p>
                                    <h3 class="card-title"></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons"></i>
                                        <h4>Donors</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon">
                                        <img src="../../assets/drm/bullhorn.png" width="50px" height="50px">
                                    </div>
                                    <p class="card-category"></p>
                                    <h3 class="card-title"></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons"></i>
                                        <h4>Media</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-2">
                            <div class="card card-stats">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon">
                                        <img src="../../assets/drm/embassy.png" width="50px" height="50px">
                                    </div>
                                    <p class="card-category"></p>
                                    <h3 class="card-title"></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons"></i>
                                        <h4>Government</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>